@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  font-family: var(--font-poppins);
}

.heading-text {
  font-family: var(--font-francois-one);
}